In [1]:
import pandas as pd

acc = pd.read_csv("Accelerometer.csv")
gyr = pd.read_csv("Gyroscope.csv")

activity = pd.DataFrame(columns= ["X (m/s^2)","Y (m/s^2)","Z (m/s^2)", "X (rad/s)", "Y (rad/s)", "Z (rad/s)"])

In [2]:
activity

Empty DataFrame
Columns: [X (m/s^2), Y (m/s^2), Z (m/s^2), X (rad/s), Y (rad/s), Z (rad/s)]
Index: []

In [3]:
acc

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2)
0,0.003085,0.428913,-9.879965,-0.720838
1,0.013023,0.491127,-9.860822,-0.835693
2,0.022961,0.577867,-10.047462,-0.974477
3,0.032902,0.568295,-10.148559,-0.921835
4,0.042840,0.481556,-10.095319,-0.873978
...,...,...,...,...
3013,29.946748,0.544367,-2.727220,-9.972089
3014,29.956686,0.649651,-2.755934,-10.024731
3015,29.966624,0.888934,-2.880360,-10.546964
3016,29.976563,1.037289,-3.047858,-10.724631
3017,29.986501,1.022932,-3.110071,-10.326824

In [4]:
gyr

       Time (s)  Gyroscope x (rad/s)  Gyroscope y (rad/s)  Gyroscope z (rad/s)
0      0.052479             0.005193             0.100665             0.056724
1      0.062417             0.015845             0.048468             0.055658
2      0.072317             0.038215             0.019707             0.059919
3      0.082255             0.043541             0.015446             0.051397
4      0.092194             0.033954             0.023968             0.036484
...         ...                  ...                  ...                  ...
3013  29.996139             0.545266            -0.116643             0.046071
3014  30.006077             0.601723            -0.149665             0.054593
3015  30.016015             0.651789            -0.181622             0.054593
3016  30.025953             0.683746            -0.199731             0.051397
3017  30.035915             0.705051            -0.191209             0.058854

[3018 rows x 4 columns]

In [5]:
activity['X (m/s^2)'] = acc['Acceleration x (m/s^2)'].values
activity['Y (m/s^2)'] = acc['Acceleration y (m/s^2)'].values
activity['Z (m/s^2)'] = acc['Acceleration z (m/s^2)'].values
activity['X (rad/s)'] = gyr['Gyroscope x (rad/s)'].values
activity['Y (rad/s)'] = gyr['Gyroscope y (rad/s)'].values
activity['Z (rad/s)'] = gyr['Gyroscope z (rad/s)'].values

activity["Subject"] = 3
activity["Activity"] = "Squads"

In [6]:
activity

,X (m/s^2),Y (m/s^2),Z (m/s^2),X (rad/s),Y (rad/s),Z (rad/s),Subject,Activity
0,0.428913,-9.879965,-0.720838,0.005193,0.100665,0.056724,3,Squads
1,0.491127,-9.860822,-0.835693,0.015845,0.048468,0.055658,3,Squads
2,0.577867,-10.047462,-0.974477,0.038215,0.019707,0.059919,3,Squads
3,0.568295,-10.148559,-0.921835,0.043541,0.015446,0.051397,3,Squads
4,0.481556,-10.095319,-0.873978,0.033954,0.023968,0.036484,3,Squads
...,...,...,...,...,...,...,...,...
3013,0.544367,-2.727220,-9.972089,0.545266,-0.116643,0.046071,3,Squads
3014,0.649651,-2.755934,-10.024731,0.601723,-0.149665,0.054593,3,Squads
3015,0.888934,-2.880360,-10.546964,0.651789,-0.181622,0.054593,3,Squads
3016,1.037289,-3.047858,-10.724631,0.683746,-0.199731,0.051397,3,Squads
3017,1.022932,-3.110071,-10.326824,0.705051,-0.191209,0.058854,3,Squads

In [7]:
activity.to_csv('yannickSquads.csv', index=False)